.about-card {
  align-items: center;
  width: 45%;
  margin: 0 auto;
  margin-right: 20%;
  background: #f0f0f1;
}

.image {
  align-items: center;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  margin-left: 10%;
}
