<br /><br /><br /><br />

<div fxLayout="row wrap">

<!-- Here we create a column which contains a title and information about the author. -->
<div fxFlex>
  <mat-card class="mat-elevation-z0 about-card">
  <mat-card-title>Why Nodebucket Was Created!</mat-card-title>

  <br />

  <!--This contains our mat-card content which holds the information about Nodebucket. -->
  <mat-card-content>
  <p>
    Nodebucket was formed in 2021. We set out to solve a problem that people struggle with daily. A lot of times people want to be productive,
    but they just do not know where to begin or how to organize the things that they need to do.
    This is where we decided to step in and create an application that can handle this part for you.
  </p>

  <br />

  <p>
    Nodebucket is an application designed to allow you to create a to do list and organize that list with tasks that you need to complete.
    One of the biggest motivators to stay productive is seeing the items in which you have already completed. This can push you to keep knocking out tasks and staying productive.
    For this reason, our application includes a done list as well. Once you finish a task you can enjoy the satisfaction of moving it over to the done list and tackle the next item.
  </p>

  <br />

  <p>
    We want our application to be multi-functional and used for multiple occasions. Nodebucket can be used for work, for school, or even household choirs.
    The application interface is easy to use which makes it great for on the go use and mobile devices.
  </p>

  <br />

  <p>
    No matter what your need is we hope that Nodebucket can help accommodate you. Our goal is to help all our users be more productive by taking the stress out of planning and organization.
    Now you can spend less time creating a list and more time getting stuff done. We hope that our application inspires you to tackle our task and overcome any obstacles.
    Finally, we would like to thank you for using Nodebucket.
  </p>

</mat-card-content>
</mat-card>
</div>

  <dix fxFlex>

    <!-- Here we create the column which contains the photo of the author. -->
    <div fxFlex>
      <div class="image">
          <img src="./assets/about1.jpg" />
      </div>
  </div>


