<br /><br /><br /><br />

<div fxLayout="row wrap">

<!-- Here we create a column which contains a title and information about the author. -->
<div fxFlex>
  <mat-card class="mat-elevation-z0 about-card">
  <mat-card-title>Why Nodebucket Was Created!</mat-card-title>

  <br />

  <!--This contains our mat-card content which holds the information about Nodebucket. -->
  <mat-card-content>
  <p>
    We created Nodebucket to help those who always seem to be overwhelmed with task.
    Now you can organize your task and focus on getting things done.
    We designed an easy to use application for all users to keep track of all things going on in their lives.
    You can use Nodebucket for work, for school, or even household chores.
    The goal is to track your progress and see yourself reaching your goals.
    We hope this application brings value to your life just like it has ours.
    Thanks from the Nodebucket Team!
  </p>
</mat-card-content>
</mat-card>
</div>

  <dix fxFlex>

    <!-- Here we create the column which contains the photo of the author. -->
    <div fxFlex>
      <div class="image">
          <img src="./assets/about1.jpg" />
      </div>
  </div>


