<div fxLayout="column" class="main-welcome">

  <div fxFlex>
    <!--This is the main heading for our home page. -->
    <h1 class="title">
      Welcome to Nodebucket <br />
      <span class="subtitle">
        A tool designed to help you organize all of your task!
      </span>
    </h1>
  </div>
  <br /><br /><br /><br />
  <div fxFlex>
    <!--Here we create the Create Take Button which will open the create task dialog on click. -->
    <div class="task-container" fxLayout="column">
      <button mat-flat-button color="primary" (click)="openCreateTaskDialog()">Create Task</button>
    </div>
  </div>

  <div fxFlex>
    <!--We use the row layout so that our todo and done list are beside one another. -->
    <div fxLayout="row" fxLayoutGap="15px" class="task-container">

      <div fxFlex>
        <!--Here we create our ToDo card. -->
        <mat-card card class="mat-elevation-z0">
          <mat-card-title>
            ToDo
          </mat-card-title>

          <mat-card-content>
            <!--Here we add the required information to allow us to drag and drop for this list. -->
            <div
            fxLayout="column"
            fxLayoutGap="10px"
            class="task-column"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)"
            >
              <!--We implement the drag and drop feature for this list of items. -->
              <div *ngFor="let item of todo" cdkDrag>

                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <!--This is where we display our new task for the Todo list. -->
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>
                      <div fxFlex fxLayoutAlign="end">
                        <!--Here we add the button to delete task using the mat-icon. We pass through out deleteTask function on click. -->
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="black">remove_circle</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex>
        <!--This is the card for our Done list. -->
        <mat-card card class="mat-elevation-z0">
          <mat-card-title>
            Done
          </mat-card-title>

          <mat-card-content>
            <!--Here we add in the required information to implement drag and drop. -->
            <div
            fxLayout="column"
            fxLayoutGap="10px"
            class="task-column"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)"
            >
              <!--Here we implement drag and drop for this list. -->
              <div *ngFor="let item of done" cdkDrag>

                <mat-card class="mat-elevation-z0 task-card">
                  <!--This is where we display the task for our Done list. -->
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>

                      <!--We add the delete button using the mat-icon. We pass the deleteTask function through on click. -->
                      <div fxFlex fxLayoutAlign="end">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="black">remove_circle</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>

  </div>
